{% extends "base.html" %}

{% block title %}앨범 목록{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
    <style>
        div#content{ /**/
            position: absolute;
            text-align:left;
            display:inline-block;
            width:100%;
            top:300px;
        }
        div.album-list {
            margin: 20px 50px;
        }

        div.album-list-photo {
            float: left;
            {#width: 400px;#}
            {#height: 430px;#}
        }
    </style>
<div id="content">
    {% for album in object_list %} <!--AlbumLV 뷰가 앨범 목록을 object_list로 전달-->
        <div class="clear_float" style="text-align:center;"> <!--photo.css에서 정의한 클래스, 지정된 float 속성을 해제-->
            <h2 style="display:inline; ">
                <a href="{% url 'photo:album_detail' album.id %}">{{ album.name }}</a>
            </h2>
        </div><br/><br/>
        <hr/>
        <br/>
        <div class="album-list" style="height: 300px;">

            {% for photo in album.photo_set.all|slice:":4" %}

                <div class="album-list-photo" style="width:190px; height:170px;float: left; margin:20px;">
                    <a href="{{ photo.get_absolute_url }}">
                        <img class="thumbnail" src="{{ photo.image.thumb_url }}" style="width:190px; height:170px;margin:10px;" />
                    </a>
                    <h3 style="text-align:center;">{{ photo.title }}</h3>
                    <p style="text-align:center;">{{ photo.price }}</p>
                    <p style=" width: fit-content; border:solid red 1px; margin: 0 auto;">{{ photo.condition }}</p>
                </div>

            {% endfor %}

        </div>
    <a href="{% url 'photo:album_detail' album.id %}" style="float:right; margin-right:50px"><h3 style="color:red;">{{ album.name }} 더보기▶▶</h3></a>
    {% endfor %}

</div>
{% endblock %}
