{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}
{% block content %}

        <style>
            div#content{ /**/
                position: absolute;
                text-align:center;
                display:inline-block;
                width:100%;
                top:300px;
                height: 500px;

            }
    </style>

<div id="content" >
    <h2>{{ object.title }}</h2>
    <table class="photo-detail">
        <tr>
            <td>
                <a href="{{ object.image.url }}">
                    <img style="max-width:500px; height:auto;" src="{{ object.image.url }}" />
                </a>
            </td>
            <td>
                <ul style="list-style:none; padding-left:0px;">
                    <li>
                        <p style=" width: fit-content; border:solid red 1px; margin: 0 auto;">{{ object.condition }}</p>
                    </li>
                    <li>
                        <p>{{ object.price }}</p>
                    </li>
                    <li>
                        <p>{{ object.country }}</p>
                    </li>
                    <li>
                        <p>{{ object.description|linebreaks }}</p>
                    </li>
                    {% if object.description %}
                        <p>{{ object.description|linebreaks }}</p>
                    {% else %}
                        <p>(blank)</p>
                    {% endif %}
{#                    <li>등록일시</li>#}
{#                    <p>{{ object.upload_date }}</p>#}
                    <!--https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs-->
{#                    <li>앨범</li>#}
{#                    <p><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></p>#}
                </ul>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

